@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,400&display=swap");

.Input {
	position: relative;
	border: 1px solid black;
	padding: 0;
	border-radius: 2px;
	height: 48px;
	width: fit-content;

	display: flex;
	align-items: center;

	label,
	input {
		font-size: 1rem;

		&:focus {
			outline: none;
		}
	}

	.inputWrapper {
		overflow: hidden;
		border-radius: 2px;
		height: 100%;
		input {
			padding: 0 16px;
			height: 100%;
			outline: none;
			border: none;
			font-family: "Roboto", sans-serif;
		}
	}

	label {
		position: absolute;
		pointer-events: none;
		transition: all 0.2s;
		top: 50%;
		left: 16px;
		width: fit-content;
		max-width: calc(100% - 32px);
		transform: translateY(-50%);
		background-color: transparent;
		text-overflow: ellipsis;
		overflow: hidden;
		font-family: "Roboto", sans-serif;
		// &.filling {
		// 	top: 0;
		// 	left: 8px;
		// 	font-size: 0.75rem;
		// 	background-color: white;
		// 	padding: 0 2px;
		// }
	}

	&:not(:has(input:placeholder-shown)),
	&:has(input:focus) {
		label {
			top: 0;
			left: 8px;
			font-size: 0.75rem;
			background-color: white;
			padding: 0 2px;
		}
	}
}
